<div id='show-page'>
  <div id='city-head')>
    <h1><%= @city.name %> Weather in Last 24 Hours</h1>
    <h3><%= @city.name %>, <%= @city.country %></h3>
  </div>

  <% if City.exists?(@city.id - 1) %>
    <%= link_to('', city_path(id: @city.id - 1), class: 'fa fa-chevron-left fa-4x arrow-left') %>
  <% end %>

  <% if City.exists?(@city.id + 1) %>
    <%= link_to('', city_path(id: @city.id + 1), class: 'fa fa-chevron-right fa-4x arrow-right') %>
  <% end %>

  <div id='weather-info'>
    <%= line_chart(@city_temps) %>

    <%=  render partial: "table", locals: { weathers: @weathers_first12 } %>

    <% if @weathers_last12 %>
        <%=  render partial: "table", locals: { weathers: @weathers_last12 } %>
    <% end %>
  </div>
</div>
