<div id='show-page'>
  <div id='city-head')>
    <h1><%= @city.name %> Weather in Last 24 Hours</h1>
    <h3><%= @city.display_name %></h3>
  </div>

  <%= arrow(@city.id - 1, "left") %>
  <%= arrow(@city.id + 1, "right") %>

  <div id='weather-info'>
    <%= line_chart(@city_hourly_temps) %>
    <%= display_table(@weathers) %>
  </div>
</div>


