<!DOCTYPE html>
<html>
<head>
  <title>Weather Data</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body class="<%= @city.name.downcase.tr_s(' ', '-') if @city %>">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Weather Data</a>
        <div class="collapse nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <%= link_to(raw("Cities" +("<b class= 'caret'></b>")), "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}) %>
              <ul class="dropdown-menu">
                <% @cities.each do |city| %>
                  <li><%= link_to city.name, city_path(city) %></li>
                <% end %>
              </ul>

            </li>
            <li><%= link_to "Statistics" %></li>
            <li><%= link_to "About" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class="row">
      <div><%= yield %></div>
    </div>
  </div>
</body>
</html>
